body{
background-color: lightcoral;
color: black;
font-size: 48px;
}

h1{
font-size: 36px;
color:lightblue;
text-align: center;
  text-decoration: underline;

}
h2{color: black;

}

p{font-size: 48px;}

.common{
background-color: blue;
border: 2px solid white;
position: relative;
text-decoration: wavy;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.left{
    top:115px;
    left: 15px;
    width: 600px;
    bottom: 40px;
}

.main {
     top:115px;
    left: 150px;
    width: 140px;
    bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right{ 
    top:115px;
    right: 25px;
    width: 600px;
    bottom: 40px;
}

.footer{
    height:115px;
    left: 25px;
    width: 500px;
    bottom: 50px;
    position: fixed;
    background-color: yellow;
    border: black;

}

.popper{
     height:210px;
    right: 35px;
    width: 650px;
    bottom: 30px;
    position: fixed;
    background-color: green;
    border: black;
    text-decoration:wavy;
}.red{
    color:red;
}